body {
    background-color: #EAF2FA;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
    overflow-x: hidden;
}

#content p {
    line-height: 1.55;
    float: left;
}

#content ul {
    float: left;
}

#slider-time {
    text-align: center;
    font-size: 20px;
    line-height: 2;
}

.map {
    max-width: 1200px;
    margin: auto;
    display: flex;
}

/* on mouse hover */
path:hover {
    fill-opacity: .7;
}

#footer {
    margin-top: auto;
}

#footer .left {
    float: left
}

#footer .right {
    float: right
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}